body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(rgb(0, 0, 0), green, blue, alpha);
    width: 300px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
#todo-form {
    display: flex;
    margin-bottom: 20px;
}
#todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}
button {
    padding: 10px 15px;
    background-color: chartreuse;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(82, 163, 0);
}
#todo-list {
    list-style-type: none;
    padding: 0;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.todo-item:last-child {
    border-bottom: none;
}
.todo-item span {
    flex: 1;
    margin-right: 10px;
}
.todo-item button {
    background-color: crimson;
    border: none;
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.todo-item button:hover {
    background-color: rgb(156, 18, 45);
}